.dCard {
  display: inline-block;
  border: 1px solid #ebeef5;
  border-radius: 6px;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
}
.dCard-always {
  border: 1px solid #ebeef5;
  border-radius: 6px;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 3px;
  transition: 0.3s;
}
.dCard-hover {
  border: 1px solid #ebeef5;
  border-radius: 6px;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  &:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 3px;
    transition: 0.3s;
  }
}
